<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"&gt;>
    {% block title %} {% endblock %}
</head>
<body>
    <header>
        <nav>
            <strong>Librería</strong>
            <ul>
                <li><a href="{% url 'list' %}">Lista de libros</a></li>
                <li><a href="{% url 'panel' %}">Panel de control</a></li>
                <li><a href="{% url 'new' %}">Nuevo libro</a></li>
                <li><a href="{% url 'prestamosUsuario' %}">Mis libros</a></li>
                <li><a href="{% url 'expiranPronto' %}">Préstamos que expiran pronto</a></li>
                <li><a href="{% url 'admin:index' %}">Administrador</a></li> <!--Sacado de stackverflow https://stackoverflow.com/questions/1022236/linking-to-the-django-admin-site-->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>