{% extends 'base.html' %}
{% block title %}<title>Detalles de {{ libro.titulo }}</title>{% endblock %}

{% block content %}
    <h1>{{ libro.titulo }}</h1>
    {% if libro.portada %}
        <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }} - Portada">
    {% else %}
        <p>Sin portada</p>
    {% endif %}
    <p>Autores: {% for autor in libro.autores.all %}{{ autor.nombre }}, {% endfor %}</p>
    <p>Editorial: {{ libro.editorial.nombre }}</p>
    <p>Fecha de publicación: {{ libro.fecha_publicacion }}</p>
    <p>Género: {{ libro.genero }}</p>
    <p>ISBN: {{ libro.isbn }}</p>
    <p>Resumen: {{ libro.resumen }}</p>
    <p>Disponibilidad: {{ libro.disponibilidad }}</p>

    {% if libro.disponibilidad == 'disponible' %}
        <a href="{% url 'prestar' pk=libro.pk %}"><button>Realizar préstamo</button></a>
    {% elif libro.disponibilidad == 'prestado' %}
        <a href="{% url 'devolver' pk=libro.pk %}"><button>Realizar devolución</button></a>
    {% endif %}

    <a href="{% url 'update' pk=libro.pk %}"><button>Editar</button></a>
    <a href="{% url 'delete' pk=libro.pk %}"><button>Eliminar</button></a>
{% endblock %}
