{% extends 'base.html' %}
{% block title %} <title>Devolver libro</title> {% endblock %}

{% block content %}
    <h1>Devolución de {{ libro.titulo }}</h1>
    <p>Autores: {% for autor in libro.autores.all %}{{ autor.nombre }}, {% endfor %}</p>
    <p>Editorial: {{ libro.editorial.nombre }}</p>
    <p>Fecha de publicación: {{ libro.fecha_publicacion }}</p>
    <p>Género: {{ libro.genero }}</p>
    <p>ISBN: {{ libro.isbn }}</p>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'list' %}"><button type="submit">Confirmar devolución</button></a>
    </form>
{% endblock %}