<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar devolución</title>
</head>
<body>
    <h1>{{ libro.titulo }}</h1>
    <p>Autores: {% for autor in libro.autores.all %}{{ autor.nombre }}, {% endfor %}</p>
    <p>Editorial: {{ libro.editorial.nombre }}</p>
    <p>Fecha de publicación: {{ libro.fecha_publicacion }}</p>
    <p>Género: {{ libro.genero }}</p>
    <p>ISBN: {{ libro.isbn }}</p>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'list' %}"><button type="submit">Confirmar devolución</button></a>
    </form></body>
</html>