<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros prestados por usuario</title>
</head>
<body>
    <h2>Listado de Libros prestados</h2>
    <ul>
        {% for prestado in prestamo_prestado %}
            <p>{{prestado.libro_prestado.titulo}}</p>
            <button><a href="{% url 'devolver' pk=prestado.libro_prestado.pk %}">Realizar devolución</a></button>
        {% endfor %}
    </ul>
    <h2>Listado de Libros devueltos</h2>
    <ul>
        {% for devuelto in prestamo_devuelto %}
            <p>{{devuelto.libro_prestado.titulo}}</p>
        {% endfor %}
    </ul>
</body>
</html>