{% extends 'base.html' %}
{% block title %} <title>Mis libros</title> {% endblock %}

{% block content %}
    <h2>Listado de Libros prestados</h2>
    <ul>
        {% for prestado in prestamo_prestado %}
            <p>{{prestado.libro_prestado.titulo}}</p>
            <p>Inicio del préstamo: {{prestado.fecha_prestamo}}</p>
            <p>Fin del préstamo: {{prestado.fecha_devolucion}}</p>
            <a href="{% url 'devolver' pk=prestado.libro_prestado.pk %}"><button>Realizar devolución</button></a>
        {% endfor %}
    </ul>
    <h2>Listado de Libros devueltos</h2>
    <ul>
        {% for devuelto in prestamo_devuelto %}
            <p>{{devuelto.libro_prestado.titulo}}</p>
        {% endfor %}
    </ul>
{% endblock %}