{% extends 'base.html' %}
{% block title %} <title>Lista de libros</title> {% endblock %}

{% block content %}
    <form method="get">
        <label for="autores">Filtrar por Autor:</label>
        <select name="autores" id="autores" multiple>
            <option disabled selected>Selecciona una opción</option>
            {% for autor in autor_filter %}
                <option value="{{ autor.nombre }}">{{ autor.nombre }}</option>
            {% endfor %}
        </select>

        <label for="genero">Filtrar por Género:</label>
        <select name="genero" id="genero">
            <option value="" selected>Todos los géneros</option>
            {% for genero in generos %}
                <option value="{{ genero }}">{{ genero }}</option>
            {% endfor %}
        </select>

        <button type="submit">Filtrar</button>
    </form>
    
    <article>
        <h1>Listado de Libros</h1>
        <h2>Libros disponibles</h2>
        <br>
        <ul>
            {% for libro in disponibles %}
                {# ... (resto del código para mostrar la información del libro) ... #}
            {% endfor %}
        </ul>
        <h2>Libros prestados</h2>
        <br>
        <ul>
            {% for libro in prestados %}
                {# ... (resto del código para mostrar la información del libro) ... #}
            {% endfor %}
        </ul>
        <a href="{% url 'prestamosUsuario' %}"><button>Mis libros</button></a>
        <p><a href="{% url 'new' %}"><button>Nuevo libro</button></a></p>
    </article>

    {# ... (resto del código para la paginación) ... #}

{% endblock %}
