{% extends 'base.html' %}
{% block title %} <title>Lista de libros</title> {% endblock %}

{% block content %}
    <form method="get">
        <label for="autor">Filtrar por Autor:</label>
        <select name="autores" id="autores" multiple>
            <option disabled selected>Selecciona una opción</option>
            {% for autor in autor_filter %}
                <option value="{{ autor.nombre }}">{{ autor.nombre }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Filtrar</button>
    </form>
    <article>
        <h1>Listado de Libros</h1>
        <h2>Libros disponibles</h2>
        <br>
        <ul>
            {% for libro in disponibles %}
                <li><a href="{% url 'detail' pk=libro.pk %}">{{ libro.titulo }}</a></li>
                {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }} - Portada">
                {% else %}
                    <p>Sin portada</p>
                {% endif %}
                <p>Autores: {% for autor in libro.autores.all %}{{ autor.nombre }}, {% endfor %}</p>
                <p>Editorial: {{ libro.editorial.nombre }}</p>
                <p>Fecha de publicación: {{ libro.fecha_publicacion }}</p>
                <p>Género: {{ libro.genero }}</p>
                <p>ISBN: {{ libro.isbn }}</p>
                <p>Resumen: {{ libro.resumen }}</p>
                <p>Disponibilidad: {{ libro.disponibilidad }}</p>
            {% endfor %}
        </ul>
        <h2>Libros prestados</h2>
        <br>
        <ul>
            {% for libro in prestados %}
                <li><a href="{% url 'detail' pk=libro.pk %}">{{ libro.titulo }}</a></li>
                {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }} - Portada">
                {% else %}
                    <p>Sin portada</p>
                {% endif %}
                <p>Autores: {% for autor in libro.autores.all %}{{ autor.nombre }}, {% endfor %}</p>
                <p>Editorial: {{ libro.editorial.nombre }}</p>
                <p>Fecha de publicación: {{ libro.fecha_publicacion }}</p>
                <p>Género: {{ libro.genero }}</p>
                <p>ISBN: {{ libro.isbn }}</p>
                <p>Resumen: {{ libro.resumen }}</p>
                <p>Disponibilidad: {{ libro.disponibilidad }}</p>
            {% endfor %}
        </ul>
        <a href="{% url 'prestamosUsuario' %}"><button>Mis libros</button></a>
        <p><a href="{% url 'new' %}"><button>Nuevo libro</button></a></p>
    </article>

    
    {% if page_obj.has_previous %}
        <a href="{% url 'list' %}?page={{ page_obj.previous_page_number }}">Ir a la página {{ page_obj.previous_page_number }}</a>
    {% endif %}
    La página actual es {{ page_obj.number }}
    
    {% if page_obj.has_next %}
        <a href="{% url 'list' %}?page={{ page_obj.next_page_number }}">Ir a la página {{ page_obj.next_page_number }}</a>
    {% endif %}
        
        

{% endblock %}