{% extends 'base.html' %}
{% block title %} <title>Prestar libro</title> {% endblock %}

{% block content %}
    <h1>Préstamo de {{ libro.titulo }}</h1>
    {% if libro.portada %}
        <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }} - Portada">
    {% else %}
        <p>Sin portada</p>
    {% endif %}
    <p>Autores: {% for autor in libro.autores.all %}{{ autor.nombre }}, {% endfor %}</p>
    <p>Editorial: {{ libro.editorial.nombre }}</p>
    <p>Fecha de publicación: {{ libro.fecha_publicacion }}</p>
    <p>Género: {{ libro.genero }}</p>
    <p>ISBN: {{ libro.isbn }}</p>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'list' %}"><button type="submit">Confirmar préstamo</button></a>
    </form>
{% endblock %}